*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-header: #ebbcf7;
    --color-font-primary:#707070;
    --color-studies:#e996e2;
    --color-footer:rgb(219, 134, 208);
}

html{
    font-size: 87,5%;
    font-family: 'Nunito', sans-serif;
    color: var(--color-font-primary);
    scroll-behavior:smooth;
}

header{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, #9aa53652, #7e6c0869), url(https://images.unsplash.com/photo-1543285198-3af15c4592ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.container-header{
    background-color: var(--color-header);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.box-header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1.5rem 0;
}

.menu-section .menu ul li{
    list-style: none;
    margin: 0;
}

.menu-section .menu a{
    text-decoration: none;
    color: var(--color-font-primary);
    font-weight: 700;
    font-size:1.5rem ;
    line-height: 4rem;
    text-transform: uppercase;
    position: relative;
    margin-left: 20px;
}

.menu-section .menu a::after{
    position: absolute;
    top:20px;
    left: 0;
    content:"";
    padding: 1px;
    width: 100%;
    background-color: var(--color-font-primary);
    transition: all 0.1s ease 0s;  
    visibility: hidden; 
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu{
    display: none;
}

.menu-toggle{
    width: 40px;
    height: 30px;
}



.one, .two, .three{
    background-color: #8B8F6F;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #7a7c6f;
    box-shadow: rgb(153 153 153) -1px 1px 6px 1px;
}

.background-principal{
    background-image: url(https://images.unsplash.com/photo-1543285198-3af15c4592ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
    height: 200px;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-foto{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid #7a7c6f;
    box-shadow: rgb(153 153 153) -1px 1px 6px 1px;
    margin-top: -5rem;
}

.social-media{
    margin-top: -1.5rem;
}

 .social-media ul{
    display: flex;
}

.social-media ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
}

.social-media ul li a{
   font-size: 0.7rem;
   text-decoration: none;
   line-height: 1.5rem;
   color: var(--color-font-primary);
}

.social-media ul li a:hover{
    color: #161515;
}

.social-media-img{
    width: 2rem;
    height: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50%;
    background-color:  var(--color-header);
    border: 1px solid #7a7c6f;
    box-shadow: rgb(153 153 153) -1px 1px 6px 1px;    
}

.social-media img{
    height: 1.4rem;
    width: 1.4rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.about-me{
    text-align: center;
    padding: 2rem;
}

.about-me h1{
    font-size: 2rem;
    font-weight: 800;
}

.about-me h2{
    margin: 1rem 0 0.1rem 0;
    color:var(--color-font-primary);
    font-size: 1.2rem;
}

.about-me .graduation{
    font-size: 1.2rem;
    font-weight: 300;
}

.about-me .description{
    font-size: 1rem;
}

.studies{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--color-studies);
}

.container-studies, .container-experiences, .container-projects{
    width: 80%;
}

.studies h2, .experiences h2, .projects h2, footer h2{
    font-weight: 300;
    font-size: 2rem;
}

.study{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.study .barra-lateral{
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background-color: #000000;
}

.study-description{
    margin-left: 0.6rem;
}

.study-description .year, .experience-description .year{
    font-size: 0.8rem;
    font-style: 600;
}

.study-description .name, .experience-description .name{
    font-size: 1rem;
    font-weight: 800;
}

.study-description  .college, .experience-description .college{
    font-size: 0.8rem;
}

.experience .barra-lateral{
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
}

.experiences{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:  #706d5c;
}

.experiences h2{
    color: #999999;
}

.experience{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.experience-description{
    margin-left: 0.6rem;
    color: #999999;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem 0;
}

.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1rem;
}

.card{
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: rgb(153 153 153) -1px 1px 5px 1px; 
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2{
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.card p{
    font-size: 1rem;
}

.button{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.button a{
    width: 44%;
    display: flex;
    justify-content: center;
    background-color: #585858;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 700;
    cursor: pointer;
}

footer{
    background-color: var(--color-footer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer p{
    margin-top: 1.5rem;
    font-size: 1rem;
}

footer .social-media-img{
    background-color: var(--color-footer);
}

.container-contact{
    width: 80%;

}

.contact-description .social-media{
    margin-top: 2rem;
}

.formulario{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario .datos{
    margin-top: 0.5rem;
}

.formulario label{
    font-size: 0.6rem;
    font-weight: 700;
}

.formulario input, .formulario textarea{
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

.formulario textarea{
    height: 8rem;
}

.button-enviar{
    color: #ffffff;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

button{
    background-color: #585858;
    color: #ffffff;
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    outline: none;
    border-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
}





@media(max-width: 699px){

    /* -------fullscreen--------- */

    .menu-section.on{
        position: absolute;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
    
        background-color: var(--color-header);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        z-index: 10;
    } 
    
    .menu-section.on nav{
        display: block;
    }
    
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
    
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }
    
    .menu-section.on nav ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* -------------------------------------------------- */

@media(min-width: 700px){

    html{
        font-size: 93,75%;
    }

    .box-header{
        max-width: 700px;
        width: 80%;
        display: flex;
        align-items: center;
    }

    .menu-section .menu-toggle{
        display: none;
    }


    .menu-section .menu{
        display: flex;
    }

    .menu-section .menu ul{
        display: flex;
    }

    .menu-section .menu ul li{
        list-style: none;
    }

    .menu-section .menu a{
        text-decoration: none;
        color: var(--color-font-primary);
        font-weight: 700;
        font-size:0.8rem ;
        text-transform: uppercase;
        position: relative;
        margin-left: 20px;
    }

    .menu-section .menu a::after{
        position: absolute;
        top:20px;
        left: 0;
        content:"";
        padding: 1px;
        width: 100%;
        background-color: var(--color-font-primary);
        transition: all 0.1s ease 0s;  
        visibility: hidden; 
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .menu-section .menu a:hover::after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .about{
        max-width: 700px;
        width: 80%;
        flex-direction: row;
        padding: 1rem 0 2rem 0;
    }

    .fotografia{
        margin-top: -10rem;
        width: 30%;
    }

    .about-me{
        width: 70%;
        text-align: left;
        padding: 0;
    }

    .projects{
        padding: 3rem;
    }

    .container-studies, .container-experiences, .container-projects{
        max-width: 700px;
        width: 80%;
    }

    .container-contact{
        max-width: 700px;
        width: 80%;
        display: flex;
    }

    .contact-letf{
        width: 40%;
    }

    .formulario{
        width: 60%;
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 800px){
    .fotografia{
        width: 25%;
    }

    .about-me{
        width: 75%;
    }

    .box-header, .about, .container-studies, .container-experiences, .container-projects, .container-contact{
        max-width: 800px;
        width: 80%;
    }

}
